[Unit]
Description=FuzzManager default celeryd
After=rabbitmq-server.service

[Service]
User=ubuntu
SyslogIdentifier=fm-celery-worker
ExecStart=/usr/local/bin/celery -A celeryconf -l INFO -n worker@%h -Q celery worker
WorkingDirectory=/path/to/FuzzManager/server

[Install]
WantedBy=multi-user.target
