[Unit]
Description=FuzzManager celerybeat
After=rabbitmq-server.service

[Service]
User=ubuntu
SyslogIdentifier=fm-celerybeat
ExecStart=/usr/local/bin/celery -A celeryconf -l INFO beat
WorkingDirectory=/path/to/FuzzManager/server

[Install]
WantedBy=multi-user.target
