{% load notifications_tags %}
{% load static %}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="navbar-brand" href="#"><img alt="Mozilla" width="20" height="20" src="{% static 'img/logo.png' %}"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/reportmanager">WebCompatManager</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            {% if app_name == 'reportmanager' %}
                <li><a href="{% url 'reportmanager:buckets' %}"><i class="bi bi-bucket-fill"></i> Buckets</a></li>
                <li><a href="{% url 'reportmanager:stats' %}"><i class="bi bi-bar-chart-fill"></i> Statistics</a></li>
                <li><a href="{% url 'reportmanager:bugproviders' %}"><i class="bi bi-bug-fill"></i> Providers</a></li>
            {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if perms.reportmanager.reportmanager_visible and user.is_authenticated %}
                <li><a href="{% url 'reportmanager:inbox' %}">
                    <i class="bi bi-bell-fill"></i>
                    {% live_notify_badge badge_class="badge" %}
                </a></li>
                {% endif %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        <i class="bi bi-person-fill"></i>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            {% if user.is_authenticated %}
                                <a href="{% url 'logout' %}?next={{request.path}}?{{request.GET.urlencode}}"><i class="bi bi-box-arrow-right"></i> Logout</a>
                            {% else %}
                                <a href="{% url 'login' %}?next={{request.path}}?{{request.GET.urlencode}}"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                            {% endif %}
                        </li>
                        <li class="divider" role="presentation"></li>
                        {% if perms.reportmanager.reportmanager_visible %}
                        <li><a href="{% url 'reportmanager:usersettings' %}"><i class="bi bi-gear-fill"></i> Settings</a></li>
                        {% if perms.reportmanager.reportmanager_write %}
                        <li><a href="{% url 'reportmanager:templates' %}"><i class="bi bi-card-list"></i> Bugzilla templates</a></li>
                        {% endif %}
                        {% endif %}
                        <!--li><a href="#"><i class="bi bi-envelope-fill"></i> Contact</a></li-->
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
