{% extends 'layouts/layout_base.html' %}

{% block body_content %}
<div class="panel panel-default">
	<div class="panel-heading"><i class="glyphicon glyphicon-scale"></i> Prices</div>
	<div class="panel-body">
	    <p>Displaying prices (per core) for all zones allowed by this configuration:</p>
    </div>
    <table class="table table-condensed table-hover table-bordered">
        <thead>
            <tr>
                <th style="width: 100px;">Provider</th>
                <th style="width: 100px;">Zone</th>
                <th style="width: 25px;">Current Price (USD)</th>
            </tr>
        </thead>
        <tbody>
            {% for provider, zone, price in prices %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td>{{ provider }}</td>
                <td>{{ zone }}</td>
                <td>{{ price }}</td>
            </tr>{% endfor %}
        </tbody>
    </table>
</div>
{% endblock body_content %}
