{% extends 'layouts/layout_base.html' %}

{% load recursetags %}
{% load datetags %}

{% block body_content %}
<div class="panel panel-default">
	<div class="panel-heading"><i class="glyphicon glyphicon-scale"></i> Pool Status</div>
	<div class="panel-body">
		<table class="table table-condensed">
			<tr><td style="width: 100px;">Last Cycled:</td><td>{{ pool.last_cycled|date:"r" }}</td></tr>
		</table>

        <canvas id="detailedChart" style="height: 300px; width: 100%;"></canvas>
        <canvas id="accumulatedChart" style="height: 300px; width: 100%;"></canvas>

	<script type="text/javascript" src="{{STATIC_URL}}js/Chart.min.js"></script>
        <script type="text/javascript">
            $.get("{% url 'ec2spotmanager:line_chart_json_detailed' pool.pk %}", function(data) {
                var ctx = $("#detailedChart").get(0).getContext("2d");
                barChart = new Chart(ctx).Bar(data, data.options);
		for (var i = 0; i < barChart.datasets[0].bars.length; ++i) {
		  barChart.datasets[0].bars[i]._saved.fillColor = data.datasets[0].fillColor[i];
		  barChart.datasets[0].bars[i].fillColor = data.datasets[0].fillColor[i];
		  barChart.datasets[0].bars[i].highlightFill = data.datasets[0].fillColor[i];
		}
            });

            $.get("{% url 'ec2spotmanager:line_chart_json_accumulated' pool.pk %}", function(data) {
                var ctx = $("#accumulatedChart").get(0).getContext("2d");
                barChart = new Chart(ctx).Bar(data, data.options);
		for (var i = 0; i < barChart.datasets[0].bars.length; ++i) {
		  barChart.datasets[0].bars[i]._saved.fillColor = data.datasets[0].fillColor[i];
		  barChart.datasets[0].bars[i].fillColor = data.datasets[0].fillColor[i];
		  barChart.datasets[0].bars[i].highlightFill = data.datasets[0].fillColor[i];
		}
            });
        </script>
        <br/>

		<div class="btn-group">
			{% if pool.isEnabled %}
			<a href="{% url 'ec2spotmanager:poolcycle' pool.pk %}" class="btn btn-default">Force Cycle</a>
			<a href="{% url 'ec2spotmanager:pooldisable' pool.pk %}" class="btn btn-default">Disable</a>
			{% else %}
			<a href="{% url 'ec2spotmanager:poolenable' pool.pk %}" class="btn btn-default">Enable</a>
			{% endif %}
			<a href="{% url 'ec2spotmanager:pooldel' pool.pk %}" class="btn btn-danger">Delete</a>
		</div>
		<br/>
		<hr/>

		<div>
			<strong>Configuration Check:</strong>
		{% if config_cyclic %}
			<span class="label label-danger">Failed</span>
			<div>
				<strong>Cyclic Configuration Detected</strong>
			</div>
		{% elif config_params_missing %}
			<span class="label label-danger">Failed</span>
			<div>
				<strong>Missing Configuration Parameters</strong>
				<ul>
					{% for param in config_params_missing %}
					<li>{{ param }}</li>
					{% endfor %}
				</ul>
			</div>
		{% else %}
			<span class="label label-success">Passed</span>
		{% endif %}
		</div>

		<hr/>

		<div>
			<strong>Pool Status:</strong>
		{% if pool.msgs or provider_msgs %}
			{% for msg in pool.msgs %}
			<div>
				<div style="float:left; width:25px; overflow:hidden;">
				<a href="{% url 'ec2spotmanager:poolmsgdel_from_pool' msg.pk %}">[x]</a>
				</div>
				<div>
				{% if msg.isCritical %}
				<span class="label label-danger">{{ msg.msg|linebreaksbr }}</span>
				{% else %}
				<span class="label label-warning">{{ msg.msg|linebreaksbr }}</span>
				{% endif %}
				</div>
			</div>
			{% endfor %}
			{% for provider, msgs in provider_msgs.items %}
				{% for msg in msgs %}
			<div>
				<div style="float:left; width:25px; overflow:hidden;">
				<a href="{% url 'ec2spotmanager:providermsgdel' msg.pk %}">[x]</a>
				</div>
				<div>
				{% if msg.isCritical %}
				<span class="label label-danger">{{ provider }}: {{ msg.msg|linebreaksbr }}</span>
				{% else %}
				<span class="label label-warning">{{ provider }}: {{ msg.msg|linebreaksbr }}</span>
				{% endif %}
				</div>
			</div>
				{% endfor %}
			{% endfor %}
		{% elif not pool.isEnabled %}
			<span class="label label-warning">Disabled</span>
		{% else %}
			<span class="label label-success">Healthy</span>
		{% endif %}
		<div>

		<hr/>

		<div>
			<strong>Configuration Hierarchy:</strong>
			<ul>
			  	{% recurseconfig parent_config %}
			  	<li>
				 <a href="{% url 'ec2spotmanager:configview' node.pk %}">{{ node.name }}</a>
				 {% if node.children %}
				 	<ul>{{ children }}</ul>
				 {% endif %}
				 {% endrecurseconfig %}
				</li>
			</ul>
		</div>
	</div>
	<table class="table table-condensed table-hover table-bordered table-db">
		<thead>
			<tr>
				<th style="width: 80px;">Created</th>
				<th style="width: 40px;">Instance ID</th>
				<th style="width: 100px;">Hostname</th>
				<th style="width: 50px;">Status Code</th>
				<th style="width: 150px;">Status Data</th>
				<th style="width: 100px;">Region/Zone</th>
			</tr>
		</thead>
		<tbody>
		  {% for instance in instances %}<tr class="{% cycle 'odd' 'even' %}">
 			<td>{{ instance.created|date:"r" }}<br/>{{ instance.created|date_ago }}</td>
			<td>{{ instance.instance_id|escape }}</td>
			<td>{{ instance.hostname|escape }}</td>
			<td>{{ instance.status_code|escape }} - {{ instance.status_code_text }}</td>
			<td>{% if instance.status_data %}<pre>{{ instance.status_data|escape }}</pre>{% else %}N/A{% endif %}</td>
			<td>{{ instance.region|escape }} / {{ instance.zone|escape }}</td>
			</tr>{% endfor %}
		</tbody>
	</table>
</div>
{% endblock body_content %}
