     <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/img/favicon.png"/>
     <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
     <script type="text/javascript" src="/static/js/search.js"></script>
     <div class="page-header">

    	<h1>
    		<a href="/crashmanager">
    			<span class="icon"></span>
    			<span class="title">Mozilla FuzzManager - Crash Management</span>
    		</a>
    	</h1>

	<form id="simple_search" method="get" action="{% url 'crashmanager:crashes' %}">
		<input type="text" id="search" name="q" value="{{ q|default:"Search for Crash" }}" />
            <input type="submit" class="hidden" />
        </form>
    </div>

    <div class="menu">
        <div class="body notitle">
		<div class="entry">
			<a href="{% url 'crashmanager:crashes' %}">
				<p><img src="/static/img/crashes.png"/></p>
				<p>Crashes</p>
			</a>
		</div>
		<div class="entry">
			<a href="{% url 'crashmanager:signatures' %}">
				<p><img src="/static/img/signatures.png"/></p>
				<p>Signatures</p>
			</a>
		</div>

		<div class="entry">
			<a href="{% url 'crashmanager:stats' %}">
				<p><img src="/static/img/stats.png"/></p>
				<p>Statistics</p>
			</a>
		</div>

		<div class="entry">
			<a href="{% url 'crashmanager:bugproviders' %}">
				<p><img src="/static/img/bugproviders.png"/></p>
				<p>Bug Providers</p>
			</a>
		</div>
		
		<div class="entry">
			<a href="{% url 'crashmanager:usersettings' %}">
				<p><img src="/static/img/usersettings.png"/></p>
				<p>User Settings</p>
			</a>
		</div>
        </div>
    </div>
