{% extends 'layouts/layout_base.html' %}

{% block body_content %}
<div class="panel panel-default">
    <div class="panel-heading"><i class="glyphicon glyphicon-list-alt"></i> Remove Crash</div>
    <div class="panel-body">
        {% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}
        <form action="{% url 'crashmanager:crashdel' entry.pk %}" method="post">
            {% csrf_token %}
            <div class="alert alert-danger" role="alert">Are you sure that you want to delete this crash entry?</div></strong></p>
            <div class="field">
                <strong>Signature:</strong> {{ entry.shortSignature|escape }}
            </div>
            <input type="submit" value="Delete" class="btn btn-danger"/>
        </form>
    </div>
</div>
{% endblock body_content %}
