{% extends 'layouts/layout_base.html' %}

{% load url from future %}

{% block body_content %}
<div class="panel">
	<div class="body notitle">
		<div class="field">
			<strong>Name:</strong>
				<span>{{ config.name }}</span>
		</div>
		<div class="field">
			<strong>Parent:</strong>
				<span>
				{% if config.parent %}
				<a href="{% url 'ec2spotmanager:configview' config.parent.pk %}">{{ config.parent.name }}</a>
				{% else %}
				None
				{% endif %}
				</span>
		</div>
		<div class="field">
			<strong>Size:</strong>
				<span>{% if config.size %} {{ config.size }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>Cycle Interval:</strong>
				<span>{% if config.cycle_interval %} {{ config.cycle_interval }} seconds {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>AWS Access Key:</strong>
				<span>{% if config.aws_access_key_id %} {{ config.aws_access_key_id }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>AWS Secret Access Key:</strong>
				<span>{% if config.aws_secret_access_key %} {{ config.aws_secret_access_key }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Key Name:</strong>
				<span>{% if config.ec2_key_name %} {{ config.ec2_key_name }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Security Groups:</strong>
				<span>{% if config.ec2_security_groups %} {{ config.ec2_security_groups }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Instance Type:</strong>
				<span>{% if config.ec2_instance_type %} {{ config.ec2_instance_type }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Image Name:</strong>
				<span>{% if config.ec2_image_name %} {{ config.ec2_image_name }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Userdata File:</strong>
				<span>{% if config.ec2_userdata_file %} {{ config.ec2_userdata_file }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Userdata Macros:</strong>
				<span>{% if config.ec2_userdata_macros %} {{ config.ec2_userdata_macros }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Allowed Regions:</strong>
				<span>{% if config.ec2_allowed_regions %} {{ config.ec2_allowed_regions }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Maximum Price:</strong>
				<span>{% if config.ec2_max_price %} {{ config.ec2_max_price }} USD {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Additional Tags:</strong>
				<span>{% if config.ec2_tags %} {{ config.ec2_tags }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>EC2 Additional Raw Configuration:</strong>
				<span>{% if config.ec2_raw_config %} {{ config.ec2_raw_config }} {% else %} Not specified {% endif %}</span>
		</div>
		<div class="field">
			<strong>Actions:</strong>
			<a href="{% url 'ec2spotmanager:configdel' config.pk %}">Edit</a>
			-
			<a href="{% url 'ec2spotmanager:configdel' config.pk %}">Delete</a>
		</div>
        </div>
</div>
{% endblock body_content %}
