{% extends 'layouts/layout_base.html' %}

{% block body_content %}
<script type="text/javascript" src="/static/js/bugzilla-template.js"></script>
<div class="panel panel-default">
    <div class="panel-heading"><i class="glyphicon glyphicon-list-alt"></i> Create</div>
    <div class="panel-body">
        {% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}

        <select id="template" name="template">
            {% for t in templates %}
            <option value="{{ t.pk }}" {% if t.pk == template.pk %}selected="selected" {% endif %}>{{ t.name }}</option>
            {% endfor %}
        </select>
        {% if template %}
            <a href="{% url 'crashmanager:templateedit' template.pk %}">Edit this template</a>
        {% endif %}
        <br/><br/>
        <div class="alert alert-warning" role="alert">You are about to submit this information to: <strong>{{ hostname }}</strong></div>

        <form action="{% url 'crashmanager:createbugcomment' entry.pk %}" method="post">
            <input type="hidden" name="entry" value="{{ entry.pk }}"/>
            {% csrf_token %}
            <input type="hidden" name="provider" value="{{ provider }}"/>

            <div class="row">
                <div class="col-md-1">Username:</div>
                <div class="col-md-3"><input id="id_bugzilla_username" class="form-control" name="bugzilla_username" type="text" value=""/></div>
                <div class="col-md-1">Password:</div>
                <div class="col-md-3"><input id="id_bugzilla_password" class="form-control" name="bugzilla_password" type="password"/></div>
            </div>
            <div class="row">
                <div class="col-md-5"><small>Leave the username empty to use the password as API key instead.</small></div>						
            </div>
            <hr/>

            {% include "bugzilla/comment_form.html" %}

		    {% if attachmentData.crashdata_attach %}
			    The following crash data will be attached:<br/>
			    <textarea id="id_crashdata_attach" class="form-control" name="crashdata_attach" style="width:100%">{{ attachmentData.crashdata_attach }}</textarea>
		    {% endif %}
		    <br/>
		    <div class="row">
                <div class="col-md-3">
                    Testcase will be attached to the bug. Filename:
                    <input id="id_testcase_filename" class="form-control" name="testcase_filename" type="text" value="{{ template.testcase_filename }}"/><br/>
                </div>
		    </div>
		    <div class="row">
                <div class="col-md-3">
                    <input type="checkbox" id="id_testcase_skip" name="testcase_skip" value="unassigned" {% if attachmentData.testcase_skip %}checked disabled{% endif %}/>
                    Do not attach a testcase (file bug without test).
                </div>
		    </div>
            <div class="row"></br></div>
            <input type="submit" name="submit_save" value="Submit" class="btn btn-danger"/>
            <input type="button" value="Cancel" class="btn btn-default" onClick="javascript:history.go(-1)"/>
        </form>
    </div>
</div>
{% endblock body_content %}
