{% extends 'layouts/layout_base.html' %}

{% load url from future %}
{% load extratags %}

{% block body_content %}

<div id="main" class="panel panel-default">
	<div class="panel-heading"><i class="glyphicon glyphicon-hdd"></i> Coverage Collection Browser</div>
	<div class="panel-body">
        <div v-if="source">
          <div v-for="(line, index) in source">
          <code><span>!{ index }! !{ line }!<span></code>
          </div>
        </div>
        <div v-else>
		<ul v-for="(value, key) in coverage.children">
		<li v-on:click="navigate(key)">!{ key }! - !{ value.linesCovered }! / !{ value.linesTotal }!</li>
		</ul>
        </div>
	</div>

</div>

<script>
var apiURL = '{% url 'covmanager:collections_browse_api' collectionid "" %}'

var app = new Vue({
  delimiters: ['!{', '}!'],

  el: '#main',

  data: {
    path: window.location.hash.substr(1),
    coverage: [],
    source: null,
  },

  created: function () {
    this.fetchData()
  },

  watch: {
    path: 'fetchData'
  },

  filters: {
    truncate: function (v) {
      var newline = v.indexOf('\n')
      return newline > 0 ? v.slice(0, newline) : v
    },
    formatDate: function (v) {
      return v.replace(/T|Z/g, ' ')
    }
  },

  methods: {
    fetchData: _.throttle(function () {
      var xhr = new XMLHttpRequest()
      var self = this
      xhr.open('GET', apiURL + self.path)
      xhr.onload = function () {
        result = JSON.parse(xhr.responseText)
        self.coverage = result["coverage"]

        if ("source" in self.coverage) {
          self.source = self.coverage["source"].split("\n");
        } else {
          self.source = null;
        }
      }
      xhr.send()
    }, 500),

    navigate: function(loc) {
      var self = this;
      if (self.coverage.children[loc]["children"]) {
        // Figure out if this location is a directory or file
        loc += "/";
      }
      window.location.hash += loc;
    }
  }
})

// This updates our path variable in the Vue whenever the hash changes,
// which again triggers a reload of the data.
window.onhashchange = function() { app.path = window.location.hash.substr(1); }

</script>


{% endblock body_content %}
