{% block layout.base %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
	{% block meta %}
    <meta http-equiv="content-type" content="{% block meta.content-type %}text/html;charset=UTF-8{% endblock meta.content-type %}" />
	<meta name="description" content="{% block meta.description %}{% endblock meta.description %}" />
	<meta name="keywords" content="{% block meta.keywords %}{% endblock meta.keywords %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% endblock meta %}
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}img/logo.png"/>
	{% block css %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" type="text/css" href="/static/css/default.css">
	{% block css.shared %}
	{% endblock css.shared %}
	{% block css.custom %}{% endblock css.custom %}
	{% endblock css%}
	{% block js %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.js"></script>
	{% block js.shared %}{% endblock js.shared %}
	{% block js.custom %}{% endblock js.custom %}
	{% endblock js%}
    <script>
        $(function(){
            $('[data-toggle="popover"]').popover({trigger: 'hover','placement': 'top'});
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
</head>
{% endblock head %}

<body>
    <div>
		{% block header %}
        <div id="hd">
            {% block header_content %}{% include 'shared/header.html' %}{% endblock header_content %}
        </div>
		{% endblock header %}
		
		{% block body %}
        <div id="bd" style="padding-top:15px; padding-bottom: 20px">
            {% block body_content %}{% endblock body_content %}
        </div>
		{% endblock body %}
		
		{% block footer %}
        <div id="ft">
            {% block footer_content %}{% include 'shared/footer.html' %}{% endblock footer_content %}
        </div>
		{% endblock footer %}
		
		{% block sql_debug %}
		{% if debug %}
        <div id="debug">
            <h2>Queries</h2>
            <p>{{ sql_queries|length }} Queries {% ifnotequal sql_queries|length 0 %} (<span style="cursor: pointer;" onclick="document.getElementById('debugQueryTable').style.display='';">Show</span>) {% endifnotequal %}</p>
            <table id="debugQueryTable" style="display: none;">
                <col width="1"></col>
                <col></col>
                <col width="1"></col>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">SQL</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ query.sql|escape }}</td>
                    <td>{{ query.time }}</td>
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
		{% endif %}
		{% endblock sql_debug %}
    </div>
</body>
</html>
{% endblock layout.base %}
