boto==2.48.0
celery==4.1.0
Django==1.11.5
django-chartjs==1.2
djangorestframework==3.6.4
fasteners==0.14.1
laniakea==0.8
numpy==1.13.3
requests==2.18.4
six==1.11.0
pytest-flake8
pytest-pylint
pytest-cov
pytest-django
pytest-pythonpath
