amqp>=5.0.6,<5.1
appdirs>=1.4.4,<1.5
atomicwrites>=1.4.0,<1.5
attrs>=21.2.0,<21.3
billiard>=3.6.4.0,<3.7
boto>=2.49.0,<2.50
boto3==1.20.23
boto3-stubs>=1.20.23,<1.21
celery>=5.2.1,<5.3
celery-types>=0.9.3,<0.10
certifi>=2021.10.8
chardet>=4.0.0,<4.1
coverage==6.2
Django>=3.0,<3.1
django-chartjs==1.3
django-crispy-forms==1.11.2
django-enumfields==2.1.1
django-notifications-hq==1.6.0
django-stubs>=1.9.0,<2.0
djangorestframework>=3.12.4
fasteners>=0.16.3,<0.17
flake8>=4.0.1,<4.1
idna>=3.3,<3.4
isort>=5.10.1,<5.11
kombu>=5.2.2,<5.3
laniakea>=1.17.0
lazy-object-proxy>=1.6.0,<1.7
mccabe>=0.6.1,<0.7
monotonic==1.6
more-itertools>=8.12.0,<8.13
mypy==0.910
pluggy>=1.0.0,<1.1
py>=1.11.0
pycodestyle>=2.8.0,<2.9
pyflakes>=2.4.0,<2.5
pytest>=6.2.5,<6.3
pytest-cov>=3.0.0,<3.1
pytest-django>=4.5.2,<4.6
pytest-flake8>=1.0.7,<1.1
pytest-mock>=3.6.1,<3.7
pytest-pythonpath>=0.7.3,<0.8
python-dateutil>=2.8.2,<3
pytz>=2021.3
PyYAML>=6.0,<6.1
redis>=4.0.2,<4.1
requests>=2.26.0,<3
six>=1.16.0
# fuzzing-decision is only needed for the taskmanager module (requires python 3)
#git+https://github.com/MozillaSecurity/orion#egg=fuzzing-decision&subdirectory=services/fuzzing-decision
types-boto==2.49.2
types-mock==4.0.4
types-PyYAML==6.0.1
types-python-dateutil==2.8.3
types-redis==4.0.3
types-requests==2.26.1
types-six==1.16.3
urllib3>=1.26.7,<2
vine>=5.0.0,<5.1
whitenoise==5.2.0
wrapt>=1.13.3,<1.14
#django-livesync==0.4
