[main]
regions=us-east-1,us-west-1,us-west-2
instance_types=c3.2xlarge,c4.2xlarge
interval=168
aws_access_key_id=YOURACCESSKEYID
aws_secret_key=YOURSECRETKEY
cache_file = example.pricecache

[choose_once]
handler = choose_once

[choose_once_fixed_c3]
handler = choose_once
fixed_instance_type=c3.2xlarge

[choose_once_fixed_c4]
handler = choose_once
fixed_instance_type=c4.2xlarge

[best_every_1_hour]
handler = best_every_n_hours
n = 1

[best_every_6_hours]
handler = best_every_n_hours
n = 6

[best_every_24_hours]
handler = best_every_n_hours
n = 24

[best_every_24_hours_fixed_c3]
handler = best_every_n_hours
n = 24
fixed_instance_type=c3.2xlarge

[best_every_24_hours_fixed_c4]
handler = best_every_n_hours
n = 24
fixed_instance_type=c4.2xlarge

[best_every_6_hours_fixed_c3]
handler = best_every_n_hours
n = 6
fixed_instance_type=c3.2xlarge

[best_every_6_hours_fixed_c4]
handler = best_every_n_hours
n = 6
fixed_instance_type=c4.2xlarge
