{% extends 'layouts/layout_base.html' %}

{% block title %}{{ bucket_id }} - {{ short_description|escape }}{% endblock title %}

{% block body_content %}
{% csrf_token %}
<bucketview
  :activity-range="{{ activity_range }}"
  :bucket="{{ bucket }}"
  :best-entry-size="{{ best_entry_size }}"
  :providers="{{ providers }}"
  {% if best_entry %}
  best-view-url="{% url 'reportmanager:reportview' best_entry %}"
  create-bug-url="{% url 'reportmanager:createbug' best_entry %}"
  {% endif %}
  reports-url="{% url 'reportmanager:reports' %}#bucket={{ bucket_id }}"
  del-url="{% url 'reportmanager:sigdel' bucket_id %}"
  edit-url="{% url 'reportmanager:sigedit' bucket_id %}"
  opt-url="{% url 'reportmanager:sigopt' bucket_id %}"
  />
{% endblock body_content %}
