/** 
 * Base
 */

html {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body > h1 {
	font-size: 200%;
}
	
	
    
/** 
 * Global
 */

h3 {
    font-size: 123.1%; /* 16px */
    font-style: italic;
    font-weight: normal;
    margin: 1em 0;
}

h4 {
    font-size: 108%; /* 14px */
    font-style: italic;
    font-weight: normal;
    margin: 1em 0;
}

p {
    font-size: 100%; /* 13px */
    font-weight: normal;
    margin: 1em 0;
}


p {
    margin-bottom: 1em;
}

.clear {
    clear: both;
}

.clear_left {
    clear: left;
}

.clear_right {
    clear: right;
}

.hidden {
    display: none;
}

html.production { margin: 0; }
html.production body > h1 { display: none; }
html.production .page-heading { margin: 20px; margin-top: 30px; }
html.production .panel { margin: 20px; }
html.production .page-footer { margin-top: 80px; }


.panel {
	color: #303030;
        -webkit-box-shaow: 0 1px 5px -1px #888;
        -moz-box-shadow: 0 1px 5px -1px #888;
        box-shadow: 0 1px 5px -1px #888;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
	}
	.panel .title {
		background-color: #f0f0f0;
		background-image: url(../img/panel-bg.png);
		border: 1px solid #c0c0c0;
                border-radius: 8px 8px 0 0;
                -webkit-border-radius: 8px 8px 0 0; 
		-moz-border-radius: 8px 8px 0 0;
		padding: 0 8px;
		line-height: 32px;
		}
		.panel .title h2 {
			display: inline;
			margin-right: 8px;
			font-size: 16px;
			font-weight: bold;
			}
		.panel .title .choices {
			border-left-color: #c0c0c0;
			vertical-align: 1px;
			}
		.panel .title a {
			color: #303030;
			}
		.panel .title a:hover {
			background: #d4dce1;
			}
		.panel .title a.selected {
			background: #99b2bf;
			color: #fff;
			}
	.panel .body {
		background: #fff;
		border: 1px solid #c0c0c0;
		
		padding: 8px;
		min-height: 4em;
                -webkit-border-radius: 0 0 8px 8px;
                -moz-border-radius: 0 0 8px 8px;
                border-radius: 0 0 8px 8px;
		}
	.panel .table {
		font-size: 10px;
		border-collapse: collapse;
		
		border-top: 0;
		width: 100%;
		}
		.panel .table td,
		.panel .table th {
			padding: .5em .5em;
			vertical-align: top;
			}
		.panel .table .numalign {
			text-align: right;
			}
		.panel .table .spanalign {
			text-align: center;
			}
		.panel .table .trend-up {
			color: #ff0015;
			}
		.panel .table .trend-down {
			color: #009019;
			}
		.panel .table thead {
			}
			.panel .table thead tr {
				background: #f0f0f0 url(../img/panel-bg.png) repeat-x left bottom;
				}
			.panel .table thead th {
				
				border-top: 0;
				font-weight: bold;
				}
			.panel .table thead th.sortable {
				padding-right: 17px;
				background: url(../img/sort-none.png) no-repeat right center;
				}
			.panel .table thead th.sortable:hover {
				cursor: pointer;
				background-image: url(../img/sort-none-hover.png);
				}
			.panel .table thead th.sortable.sort-desc {
				background-image: url(../img/sort-desc.png);
				}
			.panel .table thead th.sortable.sort-asc {
				background-image: url(../img/sort-asc.png);
				}
		.panel .table tbody {
			background: #fff;
			}
			.panel .table tbody tr:nth-child(even) {
				background: #F6FAFC;
				}
				.panel .table tbody tr:hover {
					background: #e4eff6;
					}
			.panel .table tbody td,
			.panel .table tbody th {
				
				border-top: 1px solid #e0e0e0;
				}
			.panel .table tbody tr:first-child td,
			.panel .table tbody tr:first-child th {
				border-top: 0;
				}
			.panel .table tbody tr td:first-child,
			.panel .table tbody tr th:first-child {
				border-left: 0;
				}
			.panel .table tbody td.separated,
			.panel .table tbody th.separated {
				
				}
			.panel .table tbody th {
				font-weight: bold;
				}
	.panel .table td.count {
		}
		.panel .table td.count span {
			display: block;
			font-size: 8px;
			}
	.panel .table td.count-high {
		color: #FF0015;
		}
	.panel .table td.count-none {
		color: #999;
		}
	.panel .table.expand-counts {
		}
		.panel .table.expand-counts .counts-collapsed {
			display: none;
			}
	.panel .table.collapse-counts {
		}
		.panel .table.collapse-counts .counts-expanded {
			display: none;
			}
    .panel .notitle {
    	
        -moz-border-radius: 8px;
    }

pre.code {
	padding: 5px;
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
	margin-bottom: 10px;
	background-color: #EEE;
	overflow: auto;
	width: auto;
}

span.code {
	padding: 5px;
	font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
}

.label {
	color: #000;
	font-size: 100%;
}

div.field {
	margin-top: 10px;
	margin-bottom: 10px;
}
.menu {
        color: #303030;
        -webkit-box-shadow: 0 1px 5px -1px #888;
        -moz-box-shadow: 0 1px 5px -1px #888;
        box-shadow: 0 1px 5px -1px #888;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
	margin: 20px;
	margin-top: 30px;
	margin-bottom: 0px;
	}
	.menu .body {
		background: #fff;
		border: 1px solid #c0c0c0;
		border-top: 0;	
		padding: 4px;
		min-height: 4em;
                -webkit-border-radius: 0 0 8px 8px;
                -moz-border-radius: 0 0 8px 8px;
                border-radius: 0 0 8px 8px;
		overflow: hidden;
		}
	.menu .entry {
		float: left;
	}

	.menu .entry p {
		text-align: center;
	}

	.menu .entry img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}


#id_signature, #id_shortDescription, #id_summary, #id_description {
	width: 90%;
}

#id_signature, #id_description {
	height: 600px;
}

a.fixedbug, a.fixedbug:link, a.fixedbug:hover, a.fixedbug:active {
	text-decoration: line-through;
}

.red {
	color: red;
}

.green {
	color: green;
}
