{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		{% if provider.pk != None %}
			<form action="{% url 'crashmanager:bugprovideredit' provider.pk %}" method="post">
		{% else %}
			<form action="{% url 'crashmanager:bugprovidercreate' %}" method="post">
		{% endif %}
		{% csrf_token %}
		<strong>Provider Class Name:</strong>
		<input id="id_classname" maxlength="1023" name="classname" type="text" value="{{ provider.classname }}">
		<br/>
		<strong>Provider Host Name:</strong>
		<input id="id_hostname" maxlength="1023" name="hostname" type="text" value="{{ provider.hostname }}">
		<br/>
		<strong>Provider Bug URL Template:</strong>
		<input id="id_urlTemplate" maxlength="1023" name="urlTemplate" type="text" value="{{ provider.urlTemplate }}">
		<br/>
		<input type="submit" name="submit_save" value="Save" />
		</form>
        </div>
</div>
{% endblock 1 %}
