{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}
{% load extratags %}

{% block 1 %}
<div class="panel panel-default">
	<div class="panel-heading">Providers</div>
	<div class="panel-body">
	    {% if providers %}
            <table id="providerList" class="table table-bordered">
                <thead>
                    <tr>
			<th style="width: 20px;">ID</th>
			<th style="width: 50px;">Class Name</th>
			<th style="width: 50px;">Host Name</th>
			<th style="width: 150px;">URL Template</th>
			<th style="width: 50px;"># of bugs associated</th>
                    </tr>
                </thead>
                <tbody>
	          {% for entry in providers %}<tr class="{% cycle odd,even %}">
                    <td>
			<a title="View Bug Provider" href="{% url 'crashmanager:bugproviderview' entry.pk %}">{{ entry.pk }}</a>
		    </td>
		    <td>{{ entry.classname|escape }}</td>
		    <td>{{ entry.hostname|escape }}</td>
		    <td>{{ entry.urlTemplate|escape }}</td>
		    <td>{{ entry.size|escape }}</td>
                    </tr>{% endfor %}
                </tbody>
            </table>
	    {% else %}
	    <p>No bug providers found.</p>
	    {% endif %}
	    <a title="Create a Bug Provider" href="{% url 'crashmanager:bugprovidercreate' %}">Create a Bug Provider</a>
        </div>
</div>
{% endblock 1 %}
