{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
		<div class="field">
			<strong>Provider Class Name: </strong><span>{{ provider.classname|escape }}</span>
		</div>
		<div class="field">
			<strong>Provider Host Name: </strong><span>{{ provider.hostname|escape }}</span>
		</div>
		<div class="field">
			<strong>Provider Bug URL Template: </strong><span>{{ provider.urlTemplate|escape }}</span>
		</div>

		<div class="field">
			<strong># of bugs using this provider: </strong><span>{{ provider.size|escape }}</span>
		</div>

		<div class="field">
			<strong>Actions:</strong>
			<a href="{% url 'crashmanager:bugprovideredit' provider.pk %}">Edit</a>
			-
			<a href="{% url 'crashmanager:bugproviderdel' provider.pk %}">Delete</a>
		</div>
        </div>
</div>
{% endblock 1 %}
