{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}
{% load extratags %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<div class="field">
			 <strong>Status:</strong>
			 	<span>
					{% if entry.bucket %}
						Assigned to bucket <a href="{% url 'crashmanager:sigview' entry.bucket.pk %}">{{ entry.bucket.pk }}</a>.
						{% if entry.bucket.bug %}
							Reported as <a href="{{ entry.bucket.bug.externalType.urlTemplate|varformat:entry.bucket.bug.externalId }}">bug {{ entry.bucket.bug.externalId }}</a>.
						{% else %}
							Unreported, <a href="{% url 'crashmanager:createbug' entry.pk %}">file a bug</a>.
						{% endif %}
					{% else %}
						Not assigned to any bucket. <a href="{% url 'crashmanager:signew' %}?crashid={{ entry.pk }}">Create new</a>
					{% endif %}
				</span>
		</div>

		<div class="field">
			<strong>Created: </strong><span class="code">{{ entry.created|date:"r" }}</span>
			<strong>by Client: </strong><span class="code">{{ entry.client.name|escape }}</span>
		</div>

		
		<form action="{% url 'crashmanager:crashedit' entry.pk %}" method="post">
		{% csrf_token %}

		<div class="field">
			<strong>Short Signature: </strong><span class="code">{{ entry.shortSignature|escape }}</span>
		</div>

		<div class="field">
			<strong>Product: </strong><span class="code">{{ entry.product.name }}</span>
		</div>

		<div class="field">
			<strong>Version: </strong><span class="code">{{ entry.product.version }}</span>
		</div>
		
		<div class="field">
			<strong>Platform: </strong><span class="code">{{ entry.platform.name }}</span>
		</div>

		<div class="field">
			<strong>OS: </strong><span class="code">{{ entry.os.name }}</span>
		</div>

		<div class="field">
			<strong>Reported by Tool: </strong><span class="code">{{ entry.tool.name }}</span>
		</div>

		<div class="field">
			<strong>Data on stdout:</strong><br/>
			<textarea id="id_rawStdout" name="rawStdout">{{ entry.rawStdout }}</textarea>
		</div>

		<div class="field">
			<strong>Data on stderr:</strong><br/>
			<textarea id="id_rawStderr" name="rawStderr">{{ entry.rawStderr }}</textarea>
		</div>

		<div class="field">
			<strong>Additional Crash Data:</strong><br/>
			<textarea id="id_rawCrashData" name="rawCrashData">{{ entry.rawCrashData }}</textarea>
		</div>

		<div class="field">
			<strong>Testcase:</strong><br/>

			{% if entry.testcase.isBinary %}
			<textarea id="id_testcase" name="testcase">(binary)</textarea>
			{% else %}
			<textarea id="id_testcase" name="testcase">{{ entry.testcase.content }}</textarea>
			{% endif %}
		</div>

		<div class="field">
			<strong>Command line arguments:</strong><br/>
			<textarea id="id_args" name="args">{{ entry.argsList|linejoin }}</textarea>
		</div>

		<div class="field">
			<strong>Environment variable:</strong><br/>
			<textarea id="id_env" name="env">{{ entry.envList|linejoin }}</textarea>
		</div>

		<div class="field">
			<strong>Metadata:</strong><br/>
			<textarea id="id_metadata" name="metadata">{{ entry.metadataList|linejoin }}</textarea>
		</div>

		<input type="submit" name="submit_save" value="Save" />
		</form>
        </div>
</div>
{% endblock 1 %}
