{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
            <p>
		{% if isSearch %} 
			Your search matched {{ crashlist|length }} entries in database:
		{% elif isAll %}
			Displaying all {{ crashlist|length }} entries in database:
		{% else %}
			{{ crashlist|length }} unbucketed entries in database (
			<a href="{% url 'crashmanager:autoassign' %}">Try to assign to existing buckets</a>
			or
			<a href="{% url 'crashmanager:allcrashes' %}">View all entries</a>
			):
		{% endif %}
	    </p>
            <table id="signatureList" class="tablesorter" style="table-layout:fixed; word-wrap:break-word;">
                <thead>
                    <tr>
			<th style="width: 25px;">ID</th>
			<th style="width: 50px;">Date added</th>
			<th style="width: 25px;">Bucket</th>
			<th style="width: 100px;">Short Signature</th>
			<th style="width: 50px;">Crash Address</th>
			<th style="width: 50px;">Test status</th>
			<th style="width: 50px;">Product</th>
			<th style="width: 50px;">Version</th>
			<th style="width: 25px;">Platform</th>
			<th style="width: 40px;">OS</th>
                    </tr>
                </thead>
                <tbody>
	          {% for entry in crashlist %}<tr class="{% cycle odd,even %}">
		    <td>{{ entry.pk }} <a href="{% url 'crashmanager:crashview' entry.pk %}">View</a></td>
                    <td>{{ entry.created|date:"r" }}</td>
		    <td>
			{% if entry.bucket %} 
			{{ entry.bucket.pk }} <a href="{% url 'crashmanager:sigview' entry.bucket.pk %}">View</a>
			{% else %}
				<a href="{% url 'crashmanager:signew' %}?crashid={{ entry.pk }}">Create new</a>
			{% endif %}
		    </td>
		    <td>{{ entry.shortSignature|escape }}</td>
		    <td>{{ entry.crashAddress|escape }}</td>
		    <td>
			    {% if entry.testcase %}
			    	Q{{entry.testcase.quality}} <a title="Add to search" href="{{request.path}}?{{request.GET.urlencode}}&testcase__quality={{ entry.testcase.quality|urlencode }}"> [x]</a>
				{{ entry.testcase.test|length }}
				{% if entry.testcase.isBinary %}
				(binary)
				{% endif %}
			    {% else %}
			    	No test
			    {% endif %}
		    </td>
		    <td>{{ entry.product.name|escape }}<a title="Add to search" href="{{request.path}}?{{request.GET.urlencode}}&product__name={{ entry.product.name|urlencode }}"> [x]</a></td>
		    <td>{{ entry.product.version|escape }}<a title="Add to search" href="{{request.path}}?{{request.GET.urlencode}}&product__version={{ entry.product.version|urlencode }}"> [x]</a></td>
		    <td>{{ entry.platform.name|escape }}<a title="Add to search" href="{{request.path}}?{{request.GET.urlencode}}&platform__name={{ entry.platform.name|urlencode }}"> [x]</a> </td>
		    <td>{{ entry.os.name|escape }}<a title="Add to search" href="{{request.path}}?{{request.GET.urlencode}}&os__name={{ entry.os.name|urlencode }}"> [x]</a></td>
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock 1 %}
