{% extends 'layouts/layout_base.html' %}

{% block css.shared %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- <link rel="stylesheet" type="text/css" href="/static/css/reset-fonts-grids.css">  -->
     <link rel="stylesheet" type="text/css" href="/static/css/screen.css">
     <link rel="stylesheet" type="text/css" href="/static/css/flora.tablesorter.css">
{% endblock css.shared %}
