{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}
{% load extratags %}

{% block 1 %}
<div class="panel">
	<div class="body notitle"><!--
		<div class="left field">
			<div class="label">Signature Symptoms:</div><br/>
                        {% for symptom in symptoms %}
			<pre class="code {%if symptom.offending %}red{%endif%}"><code>{{ symptom.src }}</code></pre>
			{% endfor %}
		</div>
		<div class="right field">
			<div class="label">Signature Symptoms:</div><br/>
                        {% for symptom in symptoms %}
			<pre class="code {%if symptom.offending %}red{%endif%}"><code>{{ symptom.src }}</code></pre>
			{% endfor %}
		</div>-->

	    <table id="diffList" class="tablesorter" style="table-layout:fixed; word-wrap:break-word;">
                <thead>
                    <tr>
                        <th style="width: 35%;">Signature Symptom</th>
                        <th style="width: 20%;">Proposed Change</th>
                        <th style="width: 45%;">CrashInfo</th>
                    </tr>
                </thead>
                <tbody>
		    <!--<tr> <td></td>   <td rowspan="{{ symptoms.length }}">blah</td> </tr>-->
		    {% for symptom in symptoms %}
		    <!--<tr class="{% cycle odd,even %}">-->
		    <tr>
			    <td>
				    <pre class="code {%if symptom.offending %}red{%endif%}"><code>{{ symptom.symptom }}</code></pre>
			    </td>
			    <td>
				    {% if symptom.offending %}
					    {% if symptom.proposed %}
					    <pre class="code green"><code>{{ symptom.proposed }}</code></pre>
					    {% else %}
					    <pre class="code green"><code>(Remove)</code></pre>
					    {% endif %}
				    {% endif %}
			    </td>
			    {% if forloop.counter == 1 %}
			    <td rowspan="{{ symptoms|length }}"><pre class="code"><code>{{ entry.crashinfo }}</code></pre></td> 
			    {% endif %}
		    </tr>{% endfor %}
		    </tbody>
            </table>

		<div class="field">
			<span class="label">Actions:</span>
			<a href="{% url 'crashmanager:sigedit' bucket.pk %}">Edit</a>
			-
			<a href="{% url 'crashmanager:sigedit' bucket.pk %}?fit={{ entry.pk }}">Edit with proposed changes</a>
			-
			<a href="{% url 'crashmanager:sigdel' bucket.pk %}">Delete</a>
		</div>
<!--
		<div class="field">
			<span class="label">Actions:</span>
			<a href="{% url 'crashmanager:crashes' %}?bucket={{ bucket.pk }}&all=1">View associated crashes</a>
			-
			<a href="{% url 'crashmanager:sigedit' bucket.pk %}">Edit</a>
			-
			<a href="{% url 'crashmanager:sigdel' bucket.pk %}">Delete</a>
		</div>
		-->
        </div>
</div>
{% endblock 1 %}
