{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}
{% load extratags %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
		<div class="field">
			<span class="label">Short Description: </span><span class="code">{{ bucket.shortDescription|escape }}</span>
		</div>

		<div class="field">
			<span class="label">External Bug Status: </span>
				<span>
					{% if bucket.bug %}
						Reported as <a href="{{ bucket.bug.externalType.urlTemplate|varformat:bucket.bug.externalId }}">bug {{ bucket.bug.externalId }}</a>.
					{% else %}
						Unreported.
					{% endif %}
				</span>
		</div>

		<div class="field">
			<span class="label">Current size (# of crashes covered by this signature): </span><span class="code">{{ bucket.size }}</span>
		</div>

		{% if bucket.bestEntry %}
		<div class="field">
			<span class="label">Best Crash Entry: </span><span class="code"><a href="{% url 'crashmanager:crashview' bucket.bestEntry.pk %}">{{ bucket.bestEntry.pk }}</a> (Size: {{ bucket.bestEntry.testcase.size }})</span>
		</div>
		{% endif %}
		
		<div class="field">
			<div class="label">Signature:</div><br/>
			<pre class="code"><code>{{ bucket.signature }}</code></pre>
		</div>

		<div class="field">
			<span class="label">Actions:</span>
			<a href="{% url 'crashmanager:crashes' %}?bucket={{ bucket.pk }}">View associated crashes</a>
			-
			<a href="{% url 'crashmanager:sigedit' bucket.pk %}">Edit</a>
			-
			<a href="{% url 'crashmanager:sigdel' bucket.pk %}">Delete</a>
		</div>
        </div>
</div>
{% endblock 1 %}
