{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		<form action="{% url 'crashmanager:siglink' bucket.pk %}" method="post">

		{% csrf_token %}

		<select name="provider">
		{% for p in providers %}
		    <option value="{{ p.pk }}" {% if p.pk == provider.pk %}selected="selected"{% endif %}>{{ p.hostname }}</option>
		{% endfor %}
		</select>

		<div class="field">
			<strong>Username:</strong>
			<input id="id_username" maxlength="254" name="username" type="text" value="{{ username }}" />
		</div>
		<div class="field">
			<strong>Password:</strong>
			<input id="id_password" name="password" type="password" />
		</div>

		<div class="field">
		<strong>Bug ID:</strong><br/>
		<input id="id_bugId" maxlength="255" name="bugId" type="text" value="{{ bugId }}" />
		</div>

		{% if summary %}<p>Bug Summary: {{ summary }}</p>{% endif %}

		<input type="submit" name="submit_save" value="Save" />
		<input type="submit" name="submit_preview" value="Preview" />
		</form>
        </div>
</div>
{% endblock 1 %}
