{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}
{% load extratags %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
		<div class="field">
			<strong>Short Description: </strong><span class="code">{{ bucket.shortDescription|escape }}</span>
		</div>

		{% if bucket.frequent %}
		<div class="field">
			<strong>Frequent bucket</strong>
		</div>
		{% endif %}

		<div class="field">
			<strong>External Bug Status: </strong>
				<span>
					{% if bucket.bug %}
						Reported as <a href="{{ bucket.bug.externalType.urlTemplate|varformat:bucket.bug.externalId }}">bug {{ bucket.bug.externalId }}</a>.
						<a href="{% url 'crashmanager:sigunlink' bucket.pk %}">Unlink</a>.
					{% else %}
						Unreported. <a href="{% url 'crashmanager:siglink' bucket.pk %}">Assign an existing bug</a>.
					{% endif %}
				</span>
		</div>

		<div class="field">
			<strong>Current size (# of crashes covered by this signature): </strong><span class="code">{{ bucket.size }}</span>
		</div>

		{% if bucket.bestEntry %}
		<div class="field">
			<strong>Best Crash Entry: </strong><span class="code"><a href="{% url 'crashmanager:crashview' bucket.bestEntry.pk %}">{{ bucket.bestEntry.pk }}</a> (Size: {{ 
bucket.bestEntry.testcase.size }})</span>
		</div>
		{% endif %}
		
		<div class="field">
			<strong>Signature:</strong><br/>
			<pre class="code"><code>{{ bucket.signature }}</code></pre>
		</div>

		<div class="field">
			<strong>Actions:</strong>
			<a href="{% url 'crashmanager:crashes' %}?bucket={{ bucket.pk }}&all=1">View associated crashes</a>
			-
			<a href="{% url 'crashmanager:sigedit' bucket.pk %}">Edit</a>
			-
			<a href="{% url 'crashmanager:sigdel' bucket.pk %}">Delete</a>
		</div>
        </div>
</div>
{% endblock 1 %}
