{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		{% if bucket.pk %}
			<form action="{% url 'crashmanager:sigedit' bucket.pk %}" method="post">
		{% else %}
			<form action="{% url 'crashmanager:signew' %}" method="post">
		{% endif %}

		{% csrf_token %}
		<label for="id_shortDescription">Short Description:</label><br/>
		<input id="id_shortDescription" maxlength="1023" style="width:100em;" name="shortDescription" type="text" value="{{ bucket.shortDescription }}">
		<br/>
		<br/>
		<label class="required" for="id_signature">Signature:</label><br/>
                <textarea id="id_signature" name="signature" rows="40" style="width:100em;">{{ bucket.signature }}</textarea>
		<br/>
		<input type="submit" value="Save" />
		</form>
        </div>
</div>
{% endblock 1 %}
