{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}
{% load extratags %}

{% block 1 %}
<div class="panel panel-default">
	<div class="panel-heading">Signatures</div>
	<div class="panel-body">
            <p>
			{% if isAll %}
				Displaying all {{ siglist|length }} unreported signature entries in database:
			{% else %}
				Displaying {{ siglist|length }} unreported signature entries from the database (
				<a href="{% url 'crashmanager:allsignatures' %}">View all entries</a>
				):
			{% endif %}

	    </p>
            <table id="signatureList" class="table table-bordered">
                <thead>
                    <tr>
			<th style="width: 20px;">ID</th>
			<th style="width: 150px;">Short Description</th>
			<th style="width: 20px;">Bucket Size</th>
			<th style="width: 20px;">Best Test Quality</th>
			<th style="width: 50px;">External Bug</th>
			<th style="width: 50px;">Signature</th>
                    </tr>
                </thead>
                <tbody>
	          {% for entry in siglist %}<tr class="{% cycle odd,even %}">
                    <td>{{ entry.pk }}</td>
		    <td>{{ entry.shortDescription|escape }}</td>
		    <td>{{ entry.size }}</td>
		    <td>{{ entry.quality }}</td>
		    <td>
			{% if entry.bug %}	    
			<a {% if entry.bug.closed %}class="fixedbug"{% endif %} href="{{ entry.bug.externalType.urlTemplate|varformat:entry.bug.externalId }}">{{ entry.bug.externalId }}</a>
			{% else %}
			    <a title="Assign an external bug" href="{% url 'crashmanager:siglink' entry.pk %}">Assign</a>
			{% endif %}
		    </td>
		    <td>
			    <a title="View signature" href="{% url 'crashmanager:sigview' entry.pk %}">View</a>
		    </td>
                    </tr>{% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock 1 %}
