{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}
{% load extratags %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
            <p>
			{% if bucket %}
				A matching bucket was found for the requested crash entry. The entry has been
				assigned to bucket <a href="{% url 'crashmanager:sigview' bucket.pk  %}">{{ bucket.pk }}</a>.
			{% else %}
				{% if not buckets %}
				No similar buckets could be found.
				{% endif %}
			{% endif %}

	    </p>
	    {% if buckets %}
            <table id="signatureList" class="tablesorter vcenter" style="table-layout:fixed; word-wrap:break-word;">
                <thead>
                    <tr>
			<th style="width: 20px;">ID</th>
			<th style="width: 150px;">Short Description</th>
			<th style="width: 150px;">Difference Count</th>
			<th style="width: 150px;">Foreign Matches (%, Count)</th>
			<th style="width: 50px;">External Bug</th>
			<th style="width: 50px;">Signature</th>
                    </tr>
                </thead>
                <tbody>
	          {% for entry in buckets %}<tr class="{% cycle odd,even %}">
                    <td>{{ entry.pk }}</td>
		    <td>{{ entry.shortDescription|escape }}</td>
		    <td>{{ entry.offCount }} <a title="Show differences" href="{% url 'crashmanager:sigtry' sigid=entry.pk crashid=crashentry.pk %}">(diff)</a>  </td>
		    <td>
			    <img src="/static/img/{{ entry.foreignColor }}dot.png"/>
			    {{ entry.foreignMatchPercentage }} %, 
			    {% if entry.linkToOthers %}
			    	<a title="Show differences" href="{% url 'crashmanager:signatures' %}?all=1&ids={{ entry.linkToOthers }}">
			    	{{ entry.foreignMatchCount }} other buckets
				</a>
			    {% else %}
			    	{{ entry.foreignMatchCount }} other buckets
			    {% endif %}
		    </td>
		    <td>
			{% if entry.bug %}	    
			<a {% if entry.bug.closed %}class="fixedbug"{% endif %} href="{{ entry.bug.externalType.urlTemplate|varformat:entry.bug.externalId }}">{{ entry.bug.externalId }}</a>
			{% endif %}
		    </td>
		    <td>
			    <a title="View signature" href="{% url 'crashmanager:sigview' entry.pk %}">View</a>
		    </td>
                    </tr>{% endfor %}
                </tbody>
            </table>
	    {% endif %}
        </div>
</div>
{% endblock 1 %}
