{% extends 'layouts/layout_1_column_full_width.html' %}
{% load url from future %}

{% block 1 %}
<div class="panel">
	<div class="body notitle">
		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		{% if inCount != None %}<p><strong>New issues that will be assigned to this bucket: {{ inCount }}</strong></p>{% endif %}
		{% if outCount != None %}<p><strong>Issues that will be removed from this bucket: {{ outCount }}</strong></p>{% endif %}

		{% if bucket.pk != None %}
			<form action="{% url 'crashmanager:sigedit' bucket.pk %}" method="post">
		{% else %}
			<form action="{% url 'crashmanager:signew' %}" method="post">
		{% endif %}

		{% csrf_token %}
		<strong>Short Description:</strong><br/>
		<input id="id_shortDescription" maxlength="1023" name="shortDescription" type="text" value="{{ bucket.shortDescription }}">
		<br/>
		<br/>
		<strong>Signature:</strong><br/>
                <textarea id="id_signature" name="signature">{{ bucket.signature }}</textarea>
		<br/>

		<div class="field">
		<input type="checkbox" id="id_frequent" name="frequent" value="unassigned" {% if bucket.frequent %}checked{% endif %} />
		<strong>Mark this bucket as a frequent bucket</strong>
		</div>

		<div class="field">
		<input type="checkbox" id="id_reassign" name="reassign" value="unassigned" checked/>
		<strong>Reassign matching crashes (unassigned crashes and crashes assigned to this bucket will be reassigned)</strong>
		</div>
		

		<input type="submit" name="submit_save" value="Save" />
		<input type="submit" name="submit_preview" value="Preview" />
		</form>
        </div>
</div>
{% endblock 1 %}
