{% extends 'layouts/layout_base.html' %}

{% block title %}Remove Bucket Watch {{ entry.pk }}{% endblock title %}

{% block body_content %}
<div class="panel panel-default">
    <div class="panel-heading"><i class="bi bi-card-list"></i> Remove Bucket Watch</div>
    <div class="panel-body">
        {% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}
        <form action="{% url 'reportmanager:bucketwatchdel' entry.pk %}" method="post">
            {% csrf_token %}
            <div class="alert alert-danger" role="alert">Are you sure that you want to stop watching this bucket for new report entries?</div></strong></p>
            <div class="field">
                <strong>Bucket:</strong> {{ entry.description }}
            </div>
            <input type="submit" value="Delete" class="btn btn-danger"/>
        </form>
    </div>
</div>
{% endblock body_content %}
