{% extends 'layouts/layout_base.html' %}

{% block body_content %}
<div class="panel panel-default">
	<div class="panel-heading"><i class="glyphicon glyphicon-list-alt"></i> Link Signature</div>
	<div class="panel-body">

		{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

		<form action="{% url 'crashmanager:siglink' bucket.pk %}" method="post">
			{% csrf_token %}
			<table class="table">
				<tr><td>Provider</td><td>
					<select name="provider">
					{% for p in providers %}
						<option value="{{ p.pk }}" {% if p.pk == provider.pk %}selected="selected"{% endif %}>{{ p.hostname }}</option>
					{% endfor %}
					</select>
				</td></tr>
				<tr><td>Username</td><td><input id="id_username" maxlength="254" name="username" type="text" value="{{ username }}" /></td></tr>
				<tr><td>Password</td><td><input id="id_password" name="password" type="password" /></td></tr>
				<tr><td>Bug ID</td><td><input id="id_bugId" maxlength="255" name="bugId" type="text" value="{{ bugId }}" /></td></tr>
			</table>

			{% if summary %}<p>Bug Summary: {{ summary }}</p>{% endif %}

			<input type="submit" name="submit_save" value="Save" class="btn btn-danger" />
			<input type="submit" name="submit_preview" value="Preview" class="btn btn-default" />
		</form>
	</div>
</div>
{% endblock body_content %}
