{% extends 'layouts/layout_base.html' %}

{% block body_content %}
{% csrf_token %}
<signatureview
  :activity-range="{{ activity_range }}"
  :bucket="{{ bucket }}"
  :best-entry-size="{{ best_entry_size }}"
  :providers="{{ providers }}"
  {% if best_entry %}
  best-view-url="{% url 'crashmanager:crashview' best_entry %}"
  create-bug-url="{% url 'crashmanager:createbug' best_entry %}"
  {% endif %}
  crashes-url="{% url 'crashmanager:crashes' %}#bucket={{ bucket_id }}"
  del-url="{% url 'crashmanager:sigdel' bucket_id %}"
  edit-url="{% url 'crashmanager:sigedit' bucket_id %}"
  opt-url="{% url 'crashmanager:sigopt' bucket_id %}"
  sig-watch-url="{% url 'crashmanager:sigwatchnew' %}"
  />
{% endblock body_content %}
